:80
root * /app
file_server
encode gzip zstd
log

try_files {path} /index.html
route /index.html {
    header Cache-Control "no-cache, no-store, must-revalidate"
    header Pragma no-cache
    header Expires 0
}
