@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'pretendard/dist/web/static/pretendard.css';
@import "@blueprintjs/core/lib/css/blueprint.css";

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    padding-top: 50px;
}

.delta-navbar-sub {
    margin-top: 50px;
}